<launch>

<node pkg="camera_aravis" type="camnode" name="camera_gx2750" output="screen">
  <param name="Acquire" type="bool" value="True" />
  <param name="ExposureAuto" type="str" value="Off" />
  <param name="GainAuto" type="str" value="Off" />
  <param name="ExposureTimeAbs" type="double" value="50000.0" />
  <param name="Gain" type="double" value="10.0" />
  <param name="AcquisitionMode" type="str" value="Continuous" />

  <param name="TriggerSelector" type="str" value="FrameStart" />
  <param name="TriggerMode" type="str" value="On" />
  <param name="TriggerActivation" type="str" value="AnyEdge" />
  <param name="TriggerSource" type="str" value="Line1" />

  <param name="frame_id" type="str" value="camera_gx2750" />
  <param name="mtu" type="int" value="1500" />
</node>

</launch>
